<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Courses</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="sidebar.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__lista">
            <li class="navbar__lista___item"><i class="bi bi-house-door"><a href="index.html">Inicio</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-signpost-2"><a href="roadmap.html">Ruta</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-book-half"><a href="course.html">Cursos</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-chat-square-text-fill"><a href="recovery.html">Foro</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-newspaper"><a href="news.html">Noticias</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-newspaper"><a href="register.html">Registrarse</a></i></li>
                
        </ul>
     </nav>
</header>
<main>
    <ul class="cursos">
        <li> 
            <h2></h2>
            <img src="img/gatuitos.jfif">
            <p class="cursos-descripcion">Cursos Gratuitos</p>
            <p class="cursos-precio">Ver</p>
        </li>
        <li>
            <h2></h2>
            <img src="img/pagos.jfif">
            <p class="cursos-descripcion">Cursos pagos</p>
            <p class="cursos-precio">Ver</p>
        </li>
        <li>
            <h2></h2>
            <img src="img/pagos.jfif">
            <p class="cursos-descripcion">Cursospara niños</p>
            <p class="cursos-precio">Ver</p>
        </li>
    </ul>
</main>
<footer>
    <img src="logo.jfif">
    <p class="copyright">
        &copy Copiright CapacIT
    </p>
</footer>
</body>
</html>