<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <nav class="sidebar">
        <img src="../Templates/img/programmer_128.png" alt="programador">
        <li><a href="#"><i class="bi bi-house-door">Inicio</i></a></li>
        <li><a href="#">Ruta</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Certificaciones</a></li>
    </nav>
</body>
</html>