<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar">
        </header>
        <ul class="navbar__lista">
            <li class="navbar__lista___item"><i class="bi bi-house-door"><a href="">Inicio</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-signpost-2"><a href="">Ruta</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-book-half"><a href="">Cursos</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-chat-square-text-fill"><a href="">Foro</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-newspaper"><a href="">Noticias</a></i></li>
            <li class="navbar__lista___item"><i class="bi bi-newspaper"><a href="">Configuracion</a></i></li>
        </ul>
    </nav>
</body>
</html>