<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CapacIT"/>
    <meta name="authors" content="Abril Genoveva Ramos Dietmair, Jorge Nicolás Ramos, Daniela Eugenia Barrera Meloni,
     Gabriela Elizabeth Aguilera,Gastón Mauricio Cane, Daniela Andrea Barrios, Edith del Valle Moyano, Andrés Maximiliano Bonilla Aguirre"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <div>
            <nav class="navbar">
                <ul class="navbar-lista">
                    <li class="navbar-lista-item">
                        <i class="bi bi-house-door">
                            <a href="index.html">Inicio</a>
                        </i>
                    </li>
                    <li class="navbar-lista-item">
                        <i class="bi bi-signpost-2">
                            <a href="roadmap.html">Ruta</a>
                        </i>
                    </li>
                    <li class="navbar-lista-item">
                        <i class="bi bi-book-half">
                            <a href="course.html">Cursos</a>
                        </i>
                    </li>
                    <li class="navbar-lista-item">
                        <i class="bi bi-chat-square-text-fill">
                            <a href="foro.html">Foro</a>
                        </i>
                    </li>
                    <li class="navbar-lista-item">
                        <i class="bi bi-newspaper">
                            <a href="news.html">Noticias</a>
                        </i>
                    </li>
                    <li class="navbar-lista-item">
                        <i class="bi bi-newspaper">
                            <a href="news.html">Comunidad</a>
                        </i>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="principal">
            <h2 class="titulo-principal">Sobre CapacIT</h2>
            <p>
                <strong>CapacIT</strong> tiene los mejores cursos on line que puedas encontrar, ya sean gratuitos,
                pagos y muy recomendados.
            </p>
            <p id="mision">
                <em>Nuestra misión es: <strong>"Proporcionar educación y calidad de vida a nuestros clientes"</strong>.
                </em>
            </p>
            <p>Ofrecemos profesionales experimentados que están constantemente observando los cambios y movimiento en el
                mundo IT, para así ofrecer a nuestros clientes las últimas capacitaciones. </p>
            <button onclick="mensaje()">Mensaje</button>

        </section>
        <div class="video">
            <h3 class="titulo-principal">¿Por qué estudiar programación?</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wldGsJTPJ1o"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </main>
    <footer>
        <p class="copyright">&copy Copyright CapacIT</p>
    </footer>
    <script src="../JavaScript/script.js"></script>
</body>
</html>