<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container">
        <h3>Hazte parte de esta comunidad</h3>
        <div class="separator">
            <hr>
            <span>0...</span>
            <hr>
        </div>
        <form action="" method="get">
            <div class="section-inputs">
                <label for="name">
                    <span>Name</span>
                    <input type="text" name="" id="">
                </label>
            </div>
            <div>
                <label for="username">
                    <span>username</span>
                    <input type="text" name="username" id="username">
                </label>
            </div>
            <div>
                <label for="email">
                    <span>Email</span>
                    <input type="email" name="email" id="email">
                </label>
            </div>
            <div>
                <label for="password">
                    <span>password</span>
                    <input type="password" name="password" id="password">
                </label>
            </div>
            <div>
                <label for="boton">
                    <button class="boton"type="submit">Crear cuenta</button>
                </label>
            </div>
        </form>
    </div>
</body>
</html>