@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
*{
    font-family: 'Oxygen', sans-serif;
}
html{
    background-image: url("http://www.wallpaperhi.com/thumbnails/detail/20120605/death%20note%20l%20white%20background%201024x768%20wallpaper_www.wallpaperhi.com_11.jpg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;/*separado y ordenado verticalmente*/
    align-items: center;
    justify-content: center;
    gap: 20px; /*separacion entre las lineas*/
    width: 450px;
}
.buttons{
    align-self: flex-start;
    display: flex;
    gap: 20px;
}
.google-btn{
    background-color: #1A73E8;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 5px;
}
.google-btn:hover{
    background-color: #ddd;
}
.google-btn picture{
    width: 35px;
    background-color: white;
    height: 35px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator{
    display: flex;
    width: 100%;
    gap: 15px;
}
.separator hr{
    flex-grow: 1;
    border: none;
    border-top:1px solid #ccc;
}
.separator span{
    color:#8b8b8b;
}

.section-inputs{
    display: flex;
    gap:10px;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

label{
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label span{
    font-weight: 700;
}
label input{
    width: 100%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.5s,border 0.2s, box-shadow 0.2s;
}
label input:hover{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #d60366;
}

label input:focus{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #d60366;
}

#terminos{
    display: flex;
    width: 20px;
    flex-direction: row;
}
.boton{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    background-color: #EA4C89;
    color: white;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 14pt;
    cursor:pointer;
}
.boton:hover{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #d60366;
    opacity:0.75;
    color:#8b8b8b
}
.modo{
    background-color: #EA4C89;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 10pt;
    cursor:pointer;
}
.modo:hover{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #d60366;
    opacity:0.75;
    color:#8b8b8b
}
.recuperar-contra{
    text-decoration: underline;
}