@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
*{
    font-family: 'Oxygen', sans-serif;
    background-color: azure;
    margin: 0;
}
.navbar{
    display: flex;
    padding-bottom: 1rem;
}
.navbar__lista{
    text-decoration: none;
    list-style: none;
    width: 100%;
}
.navbar__lista___item{
    margin: 2.3rem 0;
}
.bi{
    font-size: 1.4rem;
}
a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: 0.6rem;
    color: black;
    outline: transparent solid 2px;
    outline-offset: 2px;
}
