@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
*{
    font-family: 'Oxygen', sans-serif;
    
    margin: 0;
}

body {
    padding: 0;
}
.navbar{
    display: flex;
    padding-bottom: 1rem;

    position: absolute;
    height: 100vh;
    flex-direction: column;
    width: 80px;
    background-color: rgb(220, 192, 247);
    overflow: hidden;
    left: 0;
    top: 0;
    transition: width 0.3s ease-in-out;
}

nav:hover {
    width: 250px;
}
.navbar__lista{
    text-decoration: none;
    list-style: none;
    width: 100%;
}
.navbar__lista___item{
    margin: 2.3rem 0;
}
.bi {
    font-size: 1.4rem;

    padding: 10px;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: 0.3rem;
    color: black;
    outline: transparent solid 2px;
    outline-offset: 2px;

    display: flex;
    
    width: var(--width);
    overflow: hidden;
}

/* body index*/
.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}
.principal p{
	margin: 0 0 1em;
}
.principal strong{
	font-weight: bold;
}
.principal em{
	font-style: italic;
}
.presentacion{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.video{
	width: 560px;
	margin: 1em auto;
}

@media screen and (max-width:480px){
	h1{
		text-align: center;
	}
	nav{
		position: static;
	}

	.caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
	width: auto;
	}

	.lista-diferenciales, .imagenDiferenciales{
		width: 100%;
	}
}
 /*footer*/

 footer{
	text-align: center;
	background:  #FFFFFF;
	padding: 40px;
}
.copyright{
	color: #000000;
	font-size: 13px;
	margin: 20px;
}


/*cursos*/

.cursos{
	width: 940px;
	margin: 0 auto;
	padding: 50px;
}
.cursos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.cursos li:hover{
	border-color: #c78c19;
}
.cursos li:active{
	border-color: #088c19;
}
.cursos h2{
	font-size: 30px;
	font-weight: bold;
}
.cursos li:hover h2{
	font-size: 33px;
}
.cursos-descripcion{
	font-size: 18px;
}
.cursos-precio{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}