
    <div>
        <nav class="navbar">
            <ul class="navbar-lista">
                <li class="navbar-lista-item">
                    <i class="bi bi-house-door">
                        <a routerLink="/">Inicio</a>
                    </i>
                </li>
                <li class="navbar-lista-item">
                    <i class="bi bi-journal-bookmark-fill"> 
                        <a routerLink="/course">Cursos</a>
                    </i>
                </li>
                <li class="navbar-lista-item">
                    <i class="bi bi-signpost-2">
                        <a routerLink="/routes">Ruta</a>
                    </i>
                </li>
                <li class="navbar-lista-item">
                    <i class="bi bi-file-earmark-person-fill"> 
                        <a routerLink="/perfil">Perfil</a>
                    </i>
                </li>                    
                <li class="navbar-lista-item">
                    <i class="bi bi-book-half">
                        <a routerLink="/news">Noticias</a>
                    </i>
                </li>
                <li class="navbar-lista-item">
                    <i class="bi bi-chat-square-text-fill">
                        <a href="foro.html">Foro</a>
                    </i>
                </li>
            </ul>
        </nav>
    </div>

