:root {
    --primary-color: rgb(50, 153, 148);
    --secondary-color: rgb(99, 199, 199);
}
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
*{
    font-family: 'Oxygen', sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    max-height: 100%;
}
body{
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
}

