.row{
    background-color: #269c9c ;
}

footer{
    color: #ffffff ;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center; 
    box-shadow: 2px -2px 5 px #999;
}