<h1 style="display: flex; justify-content: center;">Cursos</h1>


<main>

      <div style="display: flex; justify-content: center;">
          <img src="" class="img-fluid"> <br><br>
          <p class="cursos-descripcion">Cursos Gratuitos <a href="login.html"></a></p>
      </div>

      <div style="display: flex; justify-content: center;">
          <img src="" class="img-fluid"><br><br>
          <p class="cursos-descripcion">Cursos Pagos<a href="login.html"></a></p>
      </div>


      <div style="display: flex; justify-content: center;">
          <img src="" class="img-fluid"><br><br>
          <p class="cursos-descripcion">Cursos para niños<a href="login.html"></a></p>
      </div>

</main>
