
<main>
    <section class="principal">
        <img src="../img/logo.jfif" class="img-fluid" alt="logo CapacIT">
        <h2 class="titulo-principal"></h2>
        <p>Los mejores cursos on line que puedas encontrar.</p>
        <p id="mision">
            <em>Nuestra misión es: <strong>"Proporcionar educación y calidad de vida a nuestros clientes"</strong>.
            </em>
        </p>
        <p>Ofrecemos profesionales experimentados que están constantemente observando los cambios y movimientos en el
            mundo IT, para así ofrecer a nuestros clientes las últimas capacitaciones. </p>
        <p>
                Para conocer más sobre los creadores de esta página, podés ver los proyectos en el siguiente link:      
        </p>
            <a href="https://portafoliogrupal.great-site.net">Sobre nosotros</a>
    </section>
    <div class="video">
        <h3 class="titulo-principal">¿Por qué estudiar programación?</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wldGsJTPJ1o"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</main>

<app-navbar></app-navbar>

